/Bullet_Roasting_Analysis
/Bullet_Roasting_Analysis/.env
/oldFiles
.ipynb_checkpoints
.env
/src/__pycache__
/otherFiles/WIPscripts/testingOpenAI_updates.ipynb
log_file.log
/data
/csvExports
csvExports/raw_bullet-roasting_df.csv
Testing.ipynb
/otherFiles